{% extends 'base.html' %}

{%block body%}


<div id="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <form action="" method="post" id="form_delete"
            enctype="multipart/form-data"
            class="modal-content modal-dialog modal-lg">
            {% csrf_token %}
            <div class="modal-header">
                <h2 class="modal-title">Delete Activity {{product.id}}</h2>
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button id="boton_creacion" class="btn btn-primary"
                    type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>



{% comment %} {%if object.user == request.user%} {% endcomment %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create activity</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <form action="{%url 'create_post' object.code%}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            {% comment %} <input type="file" name="file" id="file" onchange="inputFile()" class="form-control">
            <input type="text" name="file_name" id="file_name" hidden="hidden" class="form-control" placeholder="File name..."> {% endcomment %}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        </div>
      </div>
    </div>
</div>
{% comment %} {%endif%} {% endcomment %}

{%for post in posts%}
<div class="card">
  <div class="card-header">
    {{post.title}}
    
    <div class="dropdown" style="float: right;cursor: pointer;">
    <i class="fa-solid fa-list-ul" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1"></i>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Update</a></li>
        <li><a class="dropdown-item" href="#" onclick="deleteActivity({{post.id}})">Delete</a></li>
    </ul>
    </div>

</div>

<div class="card-body">
    <div style="font-size: 15px;">
        <span>Start date: {{ post.start_date|date:"D d M Y" }}</span><br>
        <span>End date: {{ post.end_date|date:"D d M Y" }}</span>
    </div>
    <h5 class="card-title">{{post.content}}</h5>
    {%if post.files%}
    <a href="{{post.files.url}}" target="_blank" class="card-text">{{post.files|cut:'files_posts/'}}</a><br>
    {%endif%}
    <a href="{%url 'activity' pk=post.id%}" class="btn btn-primary">Go somewhere</a>
</div>
</div>



{%endfor%}
{%endblock body%}
